<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="not-found">
                <h1>404 - Pagina non trovata</h1>
                <p>La pagina che stai cercando non esiste.</p>
                <a href="/" class="back-link">Torna alla home</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
